body {
	width: 80vw;
	margin: 0 auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
	display: flex;
	flex-direction: column;
}

.results {
	display: none;
}

.thirty {
	color: rgb(180, 180, 180);
}

.forty {
	color: rgb(150, 150, 150);
}

.fifty {
	color: rgb(120, 120, 120);
}

.grayness-label {
	display: inline-block;
}

textarea {
	resize: vertical;
}
